@font-face {
    font-family: 'Lavanderia';
    src: url('Lavanderia-Delicate.eot');
    src: local('Lavanderia Delicate'), local('Lavanderia-Delicate'),
        url('Lavanderia-Delicate.eot?#iefix') format('embedded-opentype'),
        url('Lavanderia-Delicate.woff2') format('woff2'),
        url('Lavanderia-Delicate.woff') format('woff'),
        url('Lavanderia-Delicate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lavanderia';
    src: url('Lavanderia-Sturdy.eot');
    src: local('Lavanderia Sturdy'), local('Lavanderia-Sturdy'),
        url('Lavanderia-Sturdy.eot?#iefix') format('embedded-opentype'),
        url('Lavanderia-Sturdy.woff2') format('woff2'),
        url('Lavanderia-Sturdy.woff') format('woff'),
        url('Lavanderia-Sturdy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lavanderia';
    src: url('Lavanderia-Regular.eot');
    src: local('Lavanderia Regular'), local('Lavanderia-Regular'),
        url('Lavanderia-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lavanderia-Regular.woff2') format('woff2'),
        url('Lavanderia-Regular.woff') format('woff'),
        url('Lavanderia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

